@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&family=Roboto:wght@400;700&display=swap');


* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
 font-family: 'Roboto', sans-serif;
  text-decoration: none !important;
  
}

input, textarea {
  cursor: text;
}

label {
  user-select: none;
}

button, a {
  user-select: none;
}

a {
  width: fit-content;
}

img {
  -webkit-user-drag: none;
}

.body-container{
  background-color:#f1f1f1;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.toast-confirm > div > div {
  align-self: flex-start;
  margin-right: 20px;
}

.body-content {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 620px;
}

.card-shadow{
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.3);

}
/* Font Size */
h1
{
  font-size:2.5em !important;
  font-family: 'Oswald', sans-serif;
}


h2 {
  font-size:2em !important;
  font-family: 'Oswald', sans-serif;
}

h3 {
  font-size:1.75em !important;
  font-family: 'Oswald', sans-serif;
}

h4 {
  font-size:1.5em !important;
  font-family: 'Oswald', sans-serif;
}

h5 {
  font-size:1.25em !important;
  font-family: 'Oswald', sans-serif;
    color: #b4182d !important;
}

h6 {
  font-size:1em !important;
  font-family: 'Oswald', sans-serif;
}

/* Font Weight */
.noBold-text {
  font-weight: 200 !important;
}

.semiBold-text {
  font-weight: 400 !important;
}

.bold-text {
  font-weight: 600 !important;
}

.extraBold-text {
  font-weight: 800 !important;
}

/* Font Color */
.red-text {
  color: #b4182d !important;
}

.light-blue-text {
  color: #1e3a85 !important;
}

.light-text {
  color:#abbed4 !important;
}
.dark-blue-text{
  color:#181a2f !important;
}
/* Text Alignment */
.alignRight-text {
  text-align: right !important;
}

.alignJustify-text {
  text-align: justify !important;
}

.alignCenter-text {
  text-align: center !important;
}

/* Text Case */
.lowerCase-text {
  text-transform: lowercase !important;
}

.pascalCase-text {
  text-transform: capitalize !important;
}

.upperCase-text {
  text-transform: uppercase !important;
}
/* Background Color */
.black-bg{
  background-color: #181a2f  !important;
}
.light-bg{
  background-color: #abbed4 !important;
}
.blue-bg{
  background-color: #1e3a85 !important;
}
.red-bg{
  background-color: #b4182d !important;
} 
/* .Toastify__close-button {
  margin: auto;
}
.stepper-button{
  background-color: #2d3480 !important;
  width:100px;
  margin-top:30px !important;
} 
.stepper-back-button{
  margin-right: 50px !important;
}
.sub-title{
  text-align: center;
} */

/* scroll bar */
@media(max-width:650px){
  *{
   scrollbar-color:#abbed4 white !important;
   scrollbar-width: thin !important;
}
}
::-webkit-scrollbar{
width: 5px;
}
::-webkit-scrollbar-thumb{
background-color: #aebfd4;
border-radius: thin;
}
.body-container{
  background-color:#aebfd4;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  user-select: none;
}
.main-content {
  flex-grow: 1; /* Allows the main content to fill remaining space */
  display: flex;
  flex-direction: column;
  overflow: hidden;
}