.teams-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.team-card {
    text-align: center;
    padding: 15px;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.team-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
}

.team-logo {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin: 10px auto;
}

.team-card h2 {
    font-size: 1.2rem;
    color: #333;
    margin: 10px 0;
}

.view-team-details-button {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    font-size: 0.9rem;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.view-team-details-button:hover {
    background-color: #b4182d;
    color: #fff;
}