/* Container for all teams */
.teams-container {
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        gap: 130px;
        padding: 74px;
        justify-items: center;
        
}

/* Individual team card */
.team-card {
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s;
    width: 100%;
    max-width: 350px;
}

.team-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Team logo */
.team-logo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 15px;
    border-radius: 50%;
}

/* Team name */
.team-card h2 {
    margin-bottom: 10px;
    font-size: 20px;
    color: #333;
}

/* Button to view team details */
.view-team-details-button {
    display: inline-block;
    background-color: black;
    color: #fff;
    padding: 10px 15px;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.view-team-details-button:hover {
    background-color: #b4182d;
}